
.vs/OpenFTP/v16/.suo
.vs/OpenFTP/v16/Browse.VC.db
.vs/OpenFTP/v16/Solution.VC.db
bin/intermediates/client/x64/Debug/client_view.obj
bin/intermediates/client/x64/Debug/controller.obj
bin/intermediates/client/x64/Debug/file.obj
bin/intermediates/client/x64/Debug/file_manager.obj
bin/intermediates/client/x64/Debug/fileExists_view.obj
bin/intermediates/client/x64/Debug/ftpClient.log
bin/intermediates/client/x64/Debug/ftpClient.pch
bin/intermediates/client/x64/Debug/ftpClient.tlog/CL.command.1.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/CL.read.1.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/CL.write.1.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/ftpClient.lastbuildstate
bin/intermediates/client/x64/Debug/ftpClient.tlog/ftpClient.write.1u.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/link.command.1.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/link.read.1.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/link.write.1.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/moc.read.1u.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/moc.write.1u.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/rcc.read.1u.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/rcc.write.1u.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/uic.read.1u.tlog
bin/intermediates/client/x64/Debug/ftpClient.tlog/uic.write.1u.tlog
bin/intermediates/client/x64/Debug/list_model.obj
bin/intermediates/client/x64/Debug/main.obj
bin/intermediates/client/x64/Debug/moc/headers/moc_client_view.cpp
bin/intermediates/client/x64/Debug/moc/headers/moc_controller.cpp
bin/intermediates/client/x64/Debug/moc/headers/moc_fileExists_view.cpp
bin/intermediates/client/x64/Debug/moc/headers/moc_list_model.cpp
bin/intermediates/client/x64/Debug/moc/headers/moc_model.cpp
bin/intermediates/client/x64/Debug/moc/headers/moc_settings_manager.cpp
bin/intermediates/client/x64/Debug/moc/headers/moc_settings_view.cpp
bin/intermediates/client/x64/Debug/moc_client_view.obj
bin/intermediates/client/x64/Debug/moc_controller.obj
bin/intermediates/client/x64/Debug/moc_fileExists_view.obj
bin/intermediates/client/x64/Debug/moc_list_model.obj
bin/intermediates/client/x64/Debug/moc_model.obj
bin/intermediates/client/x64/Debug/moc_settings_manager.obj
bin/intermediates/client/x64/Debug/moc_settings_view.obj
bin/intermediates/client/x64/Debug/model.obj
bin/intermediates/client/x64/Debug/qmake/qtvars_i1t4ndir.ufx.designtime.props
bin/intermediates/client/x64/Debug/qmake/qtvars_x64_Debug.designtime.idx
bin/intermediates/client/x64/Debug/qmake/qtvars_x64_Debug.props
bin/intermediates/client/x64/Debug/qrc_resources.obj
bin/intermediates/client/x64/Debug/qt_work.log
bin/intermediates/client/x64/Debug/rcc/ui/qrc_resources.cpp
bin/intermediates/client/x64/Debug/request_manager.obj
bin/intermediates/client/x64/Debug/serialization_manager.obj
bin/intermediates/client/x64/Debug/settings_manager.obj
bin/intermediates/client/x64/Debug/settings_view.obj
bin/intermediates/client/x64/Debug/stdafx.obj
bin/intermediates/client/x64/Debug/uic/ui/ui_clientView.h
bin/intermediates/client/x64/Debug/uic/ui/ui_fileExistsView.h
bin/intermediates/client/x64/Debug/uic/ui/ui_settingsView.h
bin/intermediates/client/x64/Debug/user.obj
bin/intermediates/client/x64/Debug/vc142.pdb
bin/intermediates/server/x64/Debug/controller.obj
bin/intermediates/server/x64/Debug/ftp_manager.obj
bin/intermediates/server/x64/Debug/ftpServer.log
bin/intermediates/server/x64/Debug/ftpServer.pch
bin/intermediates/server/x64/Debug/ftpServer.tlog/CL.command.1.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/CL.read.1.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/CL.write.1.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/ftpServer.lastbuildstate
bin/intermediates/server/x64/Debug/ftpServer.tlog/ftpServer.write.1u.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/link.command.1.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/link.read.1.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/link.write.1.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/moc.read.1u.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/moc.write.1u.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/rcc.read.1u.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/rcc.write.1u.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/uic.read.1u.tlog
bin/intermediates/server/x64/Debug/ftpServer.tlog/uic.write.1u.tlog
bin/intermediates/server/x64/Debug/main.obj
bin/intermediates/server/x64/Debug/moc/headers/moc_controller.cpp
bin/intermediates/server/x64/Debug/moc/headers/moc_model.cpp
bin/intermediates/server/x64/Debug/moc/headers/moc_network_manager.cpp
bin/intermediates/server/x64/Debug/moc/headers/moc_server_view.cpp
bin/intermediates/server/x64/Debug/moc/headers/moc_settings_manager.cpp
bin/intermediates/server/x64/Debug/moc/headers/moc_settings_view.cpp
bin/intermediates/server/x64/Debug/moc_controller.obj
bin/intermediates/server/x64/Debug/moc_model.obj
bin/intermediates/server/x64/Debug/moc_network_manager.obj
bin/intermediates/server/x64/Debug/moc_server_view.obj
bin/intermediates/server/x64/Debug/moc_settings_manager.obj
bin/intermediates/server/x64/Debug/moc_settings_view.obj
bin/intermediates/server/x64/Debug/model.obj
bin/intermediates/server/x64/Debug/network_manager.obj
bin/intermediates/server/x64/Debug/qmake/qtvars_fqq0o4da.cmp.designtime.props
bin/intermediates/server/x64/Debug/qmake/qtvars_x64_Debug.designtime.idx
bin/intermediates/server/x64/Debug/qmake/qtvars_x64_Debug.props
bin/intermediates/server/x64/Debug/qrc_resources.obj
bin/intermediates/server/x64/Debug/qt_work.log
bin/intermediates/server/x64/Debug/rcc/ui/qrc_resources.cpp
bin/intermediates/server/x64/Debug/serialization_manager.obj
bin/intermediates/server/x64/Debug/server_view.obj
bin/intermediates/server/x64/Debug/settings_manager.obj
bin/intermediates/server/x64/Debug/settings_view.obj
bin/intermediates/server/x64/Debug/stdafx.obj
bin/intermediates/server/x64/Debug/transfer.obj
bin/intermediates/server/x64/Debug/uic/ui/ui_serverView.h
bin/intermediates/server/x64/Debug/uic/ui/ui_settingsView.h
bin/intermediates/server/x64/Debug/user.obj
bin/intermediates/server/x64/Debug/vc142.pdb
bin/x64/Debug/ftpClient.exe
bin/x64/Debug/ftpClient.ilk
bin/x64/Debug/ftpClient.pdb
bin/x64/Debug/ftpServer.exe
bin/x64/Debug/ftpServer.ilk
bin/x64/Debug/ftpServer.pdb
ftpClient/.vs/ftpProject/v16/.suo
ftpClient/.vs/ftpProject/v16/Browse.VC.db
ftpClient/.vs/ftpProject/v16/ipch/82356f900b47f6aa.ipch
ftpClient/.vs/ftpProject/v16/ipch/ba7116e332a12c4a.ipch
ftpClient/.vs/ftpProject/v16/ipch/ffdf0b07f4612aae.ipch
ftpClient/.vs/ftpProject/v16/Solution.VC.db
ftpServer/settings/server_settings.json
